.game-content .resurs h2{
    font-size: 60px;
    margin: 0;
}
.resurs{
    display: flex;
    justify-content: center;
    align-content: center;
}
.resurs h2:nth-child(2){
    margin: 0 20px;
}
.time h1{
    text-align: center;
    font-size: 40px;
    color: #ff4747;
    padding-top: 50px;
}
.answers .buttons{
    display: flex;
    justify-content: center;
}
.answers .buttons button{
    border:1px solid #333;
    padding: 9px 15px;
    background: aliceblue;
    font-size: 20px;
    font-weight: 800;
    margin: 10px;
}