.ant-layout-sider.ant-layout-sider-dark{
    height: 100vh;
    position: sticky;
    top: 0;
}


.trigger svg{
    width: 25px;
    height: 25px;
    padding-left: 10px;
}
.site-layout-background{
    color: #fff !important;
    font-size: 26px;
    position: relative;

}
.logo-text{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.ant-layout.site-layout .ant-row{
    min-width: 100% !important;
}
